.idea
/AcademyWeek04/build/
/AcademyWeek05/build/
/AcademyWeek06/nbproject/private/
/TDD/GreetingKata/nbproject/private/
/TDD/KataGreeting/nbproject/
/TDD/KataGreeting/target/
/AcademyWeek06/build/
/AcademyWeek07/nbproject/private/
/AcademyWeek08/nbproject/private/
/AcademyWeek10/nbproject/private/